

.custom-card {
    margin: 10px;
    background-color: #ffffff;
    text-align: center;
}


.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-btn {
    width: 35px;
    background-color: #f4f4f4;
    border: 1px solid #d9d6d6;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
}

.quantity-display {
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
}

.cart-button {
    margin-left: 20px;
}